.body-row{
  min-height: 70vh;
}

.btn_primary{
  display: inline-block;
  background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
  color: #fff;
  letter-spacing: 0px;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  padding: 0 38px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-size: 200% auto;
}

.primary_color{
  color: #05364d
}

.image-div{
  background-image: url('./images/image2.jpeg');
  background-position-x: center;
  background-position-y: center;
  min-height: 500px;
}

.image-div img{
  height: 400px;
}

h2{
  font-weight: 600;
}

.card{
  background-color: #f8faff;
}

.card:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.tech-stack-row .card:hover{
  background-color: #5632f2;
}
.tech-stack-row .card:hover h5, .tech-stack-row .card:hover p{
  color: white;
}

.tech-stack-row .card p{
  font-size: 1rem;
}

.text-black-light{
  color: rgba(0,0,0,.5);
}

.footer{
  background-color: #240984;
  color: white;
}
